<h1>ポケモン一覧</h1>

<div class="form-wrapper">
  <div class="search-wrapper">
    <small>年齢検索の場合は半角数字で入力してください</small>
    <%= search_form_for @search do |f|  %>
      <%= f.condition_fields do |c| %>
        <%= render "condition_fields",  f: c %>
      <% end %>
      <p class="add-fields-wrapper">
        <%= link_to_add_fields "追加 ", f, :condition %>
      </p>
      <div class="search-button"><%= f.submit %></div>
    <% end %>
  </div>
</div>

<%= paginate @pokemons %>

<table class="table table-bordered">
  <tr>
    <th>ID</th>
    <th><%= sort_link @search, :name, "名前" %></th>
  </tr>
  <% @pokemons.each do |pokemon| %>
  <tr>
    <td><%= pokemon.id %></td>
    <td><%= link_to pokemon.name, pokemon_path(pokemon.id) %></td>
  </tr>
  <% end %>
</table>

<%= paginate @pokemons %>